# Libraries

In [115]:
import pandas as pd
import numpy as np

# Data wrangling

In [116]:
# Gathering data
BesEx_2022_df = pd.read_csv('BESEX_2022.csv', sep='~')
BesEx_2022_df.head(3)

/var/folders/_w/syp13sn960j6v43pwrmhdn2r0000gp/T/ipykernel_6387/2826356206.py:2: DtypeWarning: Columns (10,15) have mixed types. Specify dtype option on import or set low_memory=False.
  BesEx_2022_df = pd.read_csv('BESEX_2022.csv', sep='~')

,00000000000,477,SA,E,Unnamed: 4,6,11,0n,Terr,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,0,0.1,0.2,Unnamed: 20,1
0,477.0,477,SA,E,LESE,6,11,0n,Terr,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,1
1,13477.0,477,SA,E,LESE,6,11,0n,Terr,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,1
2,26477.0,477,SA,E,Raum0,6,11,0n,Terr,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,1

# Data cleaning

In [117]:
# Liste des noms de colonnes
colonnes = [
    "Mediennummer",
    "Sigel",
    "Fachst_1",
    "Fachst_2",
    "Aufstellung",
    "Standort",
    "MTC",
    "Physikalische Form",
    "Sachgr.",
    "Untergr.",
    "Umfang",
    "Beilagen",
    "Preis",
    "StO",
    "HH-Titel",
    "H-Konto",
    "Inventarisierung",
    "Lieferant",
    "Ausleihen",
    "Verlängerungen",
    "Erwerbungsart",
    "Anzahl Exemplare"
]

# Lecture du CSV avec séparateur "~" et noms de colonnes
BesEx_2022_df = pd.read_csv(
    "BESEX_2022.csv",
    sep="~",
    header=None,
    names=colonnes
)

BesEx_2022_df

/var/folders/_w/syp13sn960j6v43pwrmhdn2r0000gp/T/ipykernel_6387/1421808621.py:28: DtypeWarning: Columns (10,15) have mixed types. Specify dtype option on import or set low_memory=False.
  BesEx_2022_df = pd.read_csv(

,Mediennummer,Sigel,Fachst_1,Fachst_2,Aufstellung,Standort,MTC,Physikalische Form,Sachgr.,Untergr.,...,Preis,StO,HH-Titel,H-Konto,Inventarisierung,Lieferant,Ausleihen,Verlängerungen,Erwerbungsart,Anzahl Exemplare
0,0.0,477,SA,E,NaN,6,11,0n,Terr,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,1
1,477.0,477,SA,E,LESE,6,11,0n,Terr,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,1
2,13477.0,477,SA,E,LESE,6,11,0n,Terr,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,1
3,26477.0,477,SA,E,Raum0,6,11,0n,Terr,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,1
4,39477.0,477,SA,E,Raum0,6,11,0n,Terr,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340446,NaN,972,SL,E,NaN,0,1,0n,Comic,NaN,...,"19,99",NaN,NaN,NaN,20180403.0,5843,0,0,G,1
340447,NaN,975,SA,K,NaN,1,9,0n,NaN,NaN,...,"18,00",NaN,52302.0,975.0,20201027.0,10003090,0,0,K,1
340448,NaN,975,SL,E,NaN,0,9,0n,NaN,NaN,...,"8,00",NaN,52302.0,975.0,20150105.0,1002892,0,0,K,1
340449,NaN,975,SL,K,NaN,1,13,0n,NaN,NaN,...,"18,00",S,52302.0,975.0,20191127.0,10003090,0,0,K,1
340450,NaN,975,SL,K,NaN,2,13,0n,NaN,NaN,...,"18,00",NaN,52302.0,975.0,20201007.0,10003090,0,0,K,1

In [118]:
BesEx_2022_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340451 entries, 0 to 340450
Data columns (total 22 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Mediennummer        340443 non-null  float64
 1   Sigel               340451 non-null  int64
 2   Fachst_1            340451 non-null  object
 3   Fachst_2            340451 non-null  object
 4   Aufstellung         122810 non-null  object
 5   Standort            340451 non-null  int64
 6   MTC                 340451 non-null  int64
 7   Physikalische Form  340448 non-null  object
 8   Sachgr.             340394 non-null  object
 9   Untergr.            138908 non-null  object
 10  Umfang              75101 non-null   object
 11  Beilagen            75456 non-null   object
 12  Preis               317634 non-null  object
 13  StO                 72743 non-null   object
 14  HH-Titel            244418 non-null  float64
 15  H-Konto             244523 non-null  object
 16  Inventarisierung    307795 non-null  float64
 17  Lieferant           340451 non-null  int64
 18  Ausleihen           340451 non-null  int64
 19  Verlängerungen      340451 non-null  int64
 20  Erwerbungsart       307852 non-null  object
 21  Anzahl Exemplare    340451 non-null  int64
dtypes: float64(3), int64(7), object(12)
memory usage: 57.1+ MB

In [119]:
# Datatype str pour Mediennummer
BesEx_2022_df["Mediennummer"] = (
    BesEx_2022_df["Mediennummer"]
    .astype(float)  # au cas où il y ait encore du float
    .astype("Int64") # Pandas integer nullable
    .astype(str)    # en texte, pour éviter le .0
)

In [120]:
# Datatype str pour HH-Titel
BesEx_2022_df["HH-Titel"] = (
    BesEx_2022_df["HH-Titel"]
    .astype(float)  # au cas où il y ait encore du float
    .astype("Int64") # Pandas integer nullable
    .astype(str)    # en texte, pour éviter le .0
)

In [121]:
#effecer valeurs incorrectes dans H-Konto
BesEx_2022_df.loc[BesEx_2022_df['H-Konto'] == "RABATT", 'H-Konto'] = np.nan
BesEx_2022_df.loc[BesEx_2022_df['H-Konto'] == "1 Poster Winkelgasse", 'H-Konto'] = np.nan

In [122]:
# Extraire uniquement les chiffres
BesEx_2022_df["H-Konto"] = (
    BesEx_2022_df["H-Konto"]
    .astype(str)                       # tout en texte pour traitement
    .str.extract(r'(\d+)')              # garde uniquement la partie numérique
    .astype("Int64")                    # entier nullable (Pandas)
)
BesEx_2022_df

,Mediennummer,Sigel,Fachst_1,Fachst_2,Aufstellung,Standort,MTC,Physikalische Form,Sachgr.,Untergr.,...,Preis,StO,HH-Titel,H-Konto,Inventarisierung,Lieferant,Ausleihen,Verlängerungen,Erwerbungsart,Anzahl Exemplare
0,0,477,SA,E,NaN,6,11,0n,Terr,NaN,...,NaN,NaN,<NA>,<NA>,NaN,0,0,0,NaN,1
1,477,477,SA,E,LESE,6,11,0n,Terr,NaN,...,NaN,NaN,<NA>,<NA>,NaN,0,0,0,NaN,1
2,13477,477,SA,E,LESE,6,11,0n,Terr,NaN,...,NaN,NaN,<NA>,<NA>,NaN,0,0,0,NaN,1
3,26477,477,SA,E,Raum0,6,11,0n,Terr,NaN,...,NaN,NaN,<NA>,<NA>,NaN,0,0,0,NaN,1
4,39477,477,SA,E,Raum0,6,11,0n,Terr,NaN,...,NaN,NaN,<NA>,<NA>,NaN,0,0,0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340446,<NA>,972,SL,E,NaN,0,1,0n,Comic,NaN,...,"19,99",NaN,<NA>,<NA>,20180403.0,5843,0,0,G,1
340447,<NA>,975,SA,K,NaN,1,9,0n,NaN,NaN,...,"18,00",NaN,52302,975,20201027.0,10003090,0,0,K,1
340448,<NA>,975,SL,E,NaN,0,9,0n,NaN,NaN,...,"8,00",NaN,52302,975,20150105.0,1002892,0,0,K,1
340449,<NA>,975,SL,K,NaN,1,13,0n,NaN,NaN,...,"18,00",S,52302,975,20191127.0,10003090,0,0,K,1
340450,<NA>,975,SL,K,NaN,2,13,0n,NaN,NaN,...,"18,00",NaN,52302,975,20201007.0,10003090,0,0,K,1

In [123]:
# conversion années en type datetime
BesEx_2022_df['Inventarisierung'] = (
    BesEx_2022_df['Inventarisierung']
    .astype('Int64')  # supprime le .0 tout en gérant les NaN
    .astype(str)      # en texte pour datetime
)

BesEx_2022_df['Inventarisierung'] = pd.to_datetime(
    BesEx_2022_df['Inventarisierung'],
    format='%Y%m%d',
    errors='coerce'
)
BesEx_2022_df

,Mediennummer,Sigel,Fachst_1,Fachst_2,Aufstellung,Standort,MTC,Physikalische Form,Sachgr.,Untergr.,...,Preis,StO,HH-Titel,H-Konto,Inventarisierung,Lieferant,Ausleihen,Verlängerungen,Erwerbungsart,Anzahl Exemplare
0,0,477,SA,E,NaN,6,11,0n,Terr,NaN,...,NaN,NaN,<NA>,<NA>,NaT,0,0,0,NaN,1
1,477,477,SA,E,LESE,6,11,0n,Terr,NaN,...,NaN,NaN,<NA>,<NA>,NaT,0,0,0,NaN,1
2,13477,477,SA,E,LESE,6,11,0n,Terr,NaN,...,NaN,NaN,<NA>,<NA>,NaT,0,0,0,NaN,1
3,26477,477,SA,E,Raum0,6,11,0n,Terr,NaN,...,NaN,NaN,<NA>,<NA>,NaT,0,0,0,NaN,1
4,39477,477,SA,E,Raum0,6,11,0n,Terr,NaN,...,NaN,NaN,<NA>,<NA>,NaT,0,0,0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340446,<NA>,972,SL,E,NaN,0,1,0n,Comic,NaN,...,"19,99",NaN,<NA>,<NA>,2018-04-03,5843,0,0,G,1
340447,<NA>,975,SA,K,NaN,1,9,0n,NaN,NaN,...,"18,00",NaN,52302,975,2020-10-27,10003090,0,0,K,1
340448,<NA>,975,SL,E,NaN,0,9,0n,NaN,NaN,...,"8,00",NaN,52302,975,2015-01-05,1002892,0,0,K,1
340449,<NA>,975,SL,K,NaN,1,13,0n,NaN,NaN,...,"18,00",S,52302,975,2019-11-27,10003090,0,0,K,1
340450,<NA>,975,SL,K,NaN,2,13,0n,NaN,NaN,...,"18,00",NaN,52302,975,2020-10-07,10003090,0,0,K,1

In [124]:
# Datatype str pour HH-Titel
BesEx_2022_df["Preis"] = (
    BesEx_2022_df["Preis"]
    .astype(float)  # au cas où il y ait encore du float
    .astype("Int64") # Pandas integer nullable
    .astype(str)    # en texte, pour éviter le .0
)

ValueError: could not convert string to float: '8,64'

In [ ]:
# Nettoyage de la colonne Preis
BesEx_2022_df["Preis"] = (
    BesEx_2022_df["Preis"]
    .astype(str)                      # tout en texte pour manipuler
    .str.replace(",", ".", regex=False) # remplace virgule par point
    .str.replace(r"[^\d\.]", "", regex=True) # supprime tout sauf chiffres et point
    .replace("", np.nan)               # remplace les chaînes vides par NaN
    .astype(float)                     # convertit enfin en float
)

,Mediennummer,Sigel,Fachst_1,Fachst_2,Aufstellung,Standort,MTC,Physikalische Form,Sachgr.,Untergr.,...,Preis,StO,HH-Titel,H-Konto,Inventarisierung,Lieferant,Ausleihen,Verlängerungen,Erwerbungsart,Anzahl Exemplare
0,0,477,SA,E,NaN,6,11,0n,Terr,NaN,...,NaN,NaN,<NA>,<NA>,NaT,0,0,0,NaN,1
1,477,477,SA,E,LESE,6,11,0n,Terr,NaN,...,NaN,NaN,<NA>,<NA>,NaT,0,0,0,NaN,1
2,13477,477,SA,E,LESE,6,11,0n,Terr,NaN,...,NaN,NaN,<NA>,<NA>,NaT,0,0,0,NaN,1
3,26477,477,SA,E,Raum0,6,11,0n,Terr,NaN,...,NaN,NaN,<NA>,<NA>,NaT,0,0,0,NaN,1
4,39477,477,SA,E,Raum0,6,11,0n,Terr,NaN,...,NaN,NaN,<NA>,<NA>,NaT,0,0,0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340446,<NA>,972,SL,E,NaN,0,1,0n,Comic,NaN,...,19.99,NaN,<NA>,<NA>,2018-04-03,5843,0,0,G,1
340447,<NA>,975,SA,K,NaN,1,9,0n,NaN,NaN,...,18.00,NaN,52302,975,2020-10-27,10003090,0,0,K,1
340448,<NA>,975,SL,E,NaN,0,9,0n,NaN,NaN,...,8.00,NaN,52302,975,2015-01-05,1002892,0,0,K,1
340449,<NA>,975,SL,K,NaN,1,13,0n,NaN,NaN,...,18.00,S,52302,975,2019-11-27,10003090,0,0,K,1
340450,<NA>,975,SL,K,NaN,2,13,0n,NaN,NaN,...,18.00,NaN,52302,975,2020-10-07,10003090,0,0,K,1

In [127]:
# data types conversion
BesEx_2022_df.astype({
    'Sigel':'object',
    'Standort':'object',
    'MTC':'object',
    'Preis':'float',
    'Lieferant':'object'
}).dtypes
BesEx_2022_df = BesEx_2022_df.astype({
    'Sigel':'object',
    'Standort':'object',
    'MTC':'object',
    'Preis':'float',
    'Lieferant':'object'
})
BesEx_2022_df.dtypes

Mediennummer                  object
Sigel                         object
Fachst_1                      object
Fachst_2                      object
Aufstellung                   object
Standort                      object
MTC                           object
Physikalische Form            object
Sachgr.                       object
Untergr.                      object
Umfang                        object
Beilagen                      object
Preis                        float64
StO                           object
HH-Titel                      object
H-Konto                        Int64
Inventarisierung      datetime64[ns]
Lieferant                     object
Ausleihen                      int64
Verlängerungen                 int64
Erwerbungsart                 object
Anzahl Exemplare               int64
dtype: object

In [128]:
BesEx_2022_df

,Mediennummer,Sigel,Fachst_1,Fachst_2,Aufstellung,Standort,MTC,Physikalische Form,Sachgr.,Untergr.,...,Preis,StO,HH-Titel,H-Konto,Inventarisierung,Lieferant,Ausleihen,Verlängerungen,Erwerbungsart,Anzahl Exemplare
0,0,477,SA,E,NaN,6,11,0n,Terr,NaN,...,NaN,NaN,<NA>,<NA>,NaT,0,0,0,NaN,1
1,477,477,SA,E,LESE,6,11,0n,Terr,NaN,...,NaN,NaN,<NA>,<NA>,NaT,0,0,0,NaN,1
2,13477,477,SA,E,LESE,6,11,0n,Terr,NaN,...,NaN,NaN,<NA>,<NA>,NaT,0,0,0,NaN,1
3,26477,477,SA,E,Raum0,6,11,0n,Terr,NaN,...,NaN,NaN,<NA>,<NA>,NaT,0,0,0,NaN,1
4,39477,477,SA,E,Raum0,6,11,0n,Terr,NaN,...,NaN,NaN,<NA>,<NA>,NaT,0,0,0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340446,<NA>,972,SL,E,NaN,0,1,0n,Comic,NaN,...,19.99,NaN,<NA>,<NA>,2018-04-03,5843,0,0,G,1
340447,<NA>,975,SA,K,NaN,1,9,0n,NaN,NaN,...,18.00,NaN,52302,975,2020-10-27,10003090,0,0,K,1
340448,<NA>,975,SL,E,NaN,0,9,0n,NaN,NaN,...,8.00,NaN,52302,975,2015-01-05,1002892,0,0,K,1
340449,<NA>,975,SL,K,NaN,1,13,0n,NaN,NaN,...,18.00,S,52302,975,2019-11-27,10003090,0,0,K,1
340450,<NA>,975,SL,K,NaN,2,13,0n,NaN,NaN,...,18.00,NaN,52302,975,2020-10-07,10003090,0,0,K,1

# The end